/* Task-3  movie list render props  */
.movie__wrapper{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg,#fbfbfb,#d2e5f8);
}
/* Timer  */
.timer__body{
    background: linear-gradient(275deg,#dee8ff,#c8d3fd);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.timer__container{
    background: rgb(209, 16, 154);
    color: #fff;
    padding: 4rem 5rem;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgb(209, 16, 154);
}
.timer__col{
    text-align: center;
    margin-right: 20px;
}
.timer__col span{
    font-size: 1.4rem;
}
.timer__col p{
    font-size: 1.8rem;
}
.timer__container_btn{
    padding: 1rem 5rem;
    border-radius: 4px;
}
.timer__container_btn button{
    min-width: 220px;
    text-align: center;
    margin: 1rem;
} 
.interval::-webkit-scrollbar{
    width: 4px;
}
.interval::-webkit-scrollbar-thumb{
    background-color: lime;
}
/* Orange juice  start */
.flex_wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1336px;
    row-gap: 10rem;
    column-gap: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 0 0 30%;
    transition: 0.2s linear;
    border-radius: 8px;
    padding: 1rem 0;
    position: relative;
    position: relative;
    height: 450px;
}
.card img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 1rem 0;
    position: absolute;
    top: -25%;
}
.card__body{
    position: absolute;
    bottom: 0;
    margin: 1rem;
}
.card .card__body h2{
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}
.card .card__body h1{
    font-size: 26px;
    font-weight: bold;
}
.card .card__body p{
    max-width: 240px;
    margin: 10px 0;
}
.card .card__body button{
    padding: 8px 32px;
    border: none;
    outline: none;
    background-color: rgb(245, 188, 82);
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin: 14px 0;
    border-radius: 4px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.44);
}
.card:hover{
    background-color: rgb(55, 182, 255);
    color: #fff;
}
.card .card__body button:focus{
    background-color: rgb(235, 168, 43);
}
.card .card__body button:hover{
    transform: translateY(-4px);
    transition: 0.14s linear;
}
@media screen and (max-width:768px) {

    .card{
        flex: 0 0 80%;
    }
}